<nav class="navbar navbar-expand-lg navbar-light bg-light   ">
    <a class="navbar-brand" href="#">ELCO SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/accueil">
            <fa-icon [icon]="faHome"></fa-icon> Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">
            <fa-icon [icon]="faServices"></fa-icon> Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/realisation">
            <fa-icon [icon]="faRealisation"></fa-icon> Réalisation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prix">
            <fa-icon [icon]="faPrices"></fa-icon> Nos prix
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">
            <fa-icon [icon]="faContact"></fa-icon> Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>
  