/* Styles pour la Navbar */

    .navbar {
        background-color: #000000 !important; /* Noir */
      }
        
  
  .navbar .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif; /* Police Roboto */

  }
  
  .navbar .nav-link {
    color: white; /* Texte blanc */
    font-size: 1.1rem;
    margin-right: 20px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    background-color: #007bff; /* Bleu clair au survol */
    color: black; /* Texte noir au survol */
  }
  
  .navbar .navbar-toggler {
    border-color: white;
  }
  
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox%3D'0 0 30 30'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20stroke%3D'rgba(255%2C255%2C255%2C1)'%20stroke-width%3D'2'%20stroke-linecap%3D'round'%20stroke-miterlimit%3D'10'%20d%3D'M4%207h22M4%2015h22M4%2023h22'%2F%3E%3C/svg%3E");
  }
  
  .navbar .nav-item.active .nav-link {
    color: #007bff; /* Bleu clair pour l'élément actif */
  }
  
  /* Style pour la zone active (section en cours) */
  .navbar .nav-item .nav-link.active {
    border-bottom: 2px solid #007bff; /* Souligner le lien actif */
  }
  
  .navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  fa-icon {
    margin-right: 8px;
  }
  