<div class="container mt-5 text-center services-section">
    <h2 class="services-title">OFFRE SPÉCIALE</h2>
    <h3 class="services-subtitle">NOS MEILLEURS SERVICES</h3>
    <div class="row mt-4">
      <!-- Service 1 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="/assets/plomberie.png" alt="Conception et Planification">
          </div>
          <h4>PLOMBERIE</h4>
          <p>
            Notre entreprise de plomberie  assure toutes vos installations ainsi que vos dépannages.</p>
        </div>
      </div>
      <!-- Service 2 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="assets/electric.png" alt="Rénovation de Bâtiment">
          </div>
          <h4>ÉLÉCTRICITÉ</h4>
          <p>Notre entreprise d’électricité   assure toutes vos installations ainsi que vos dépannages.</p>
        </div>
      </div>
      <!-- Service 3 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="/assets/menuisier.png" alt="Design Intérieur">
          </div>
          <h4>MENUISERIE</h4>
          <p>Fabrication de dressing, meuble, escalier, bibliothèque, mais aussi portes et fenêtres sur mesure. Bénéficiez d'une solution globale incluant la fourniture et la pose .</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Service 4 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="/assets/peinture.png" alt="Services de Construction">
          </div>
          <h4>PEINTURE</h4>
          <p>Notre équipe de peintres qualifies assure tous travaux de peinture fini y compris les travaux de préparation et enduisage .Notre entreprise assure aussi la pose de tous type de revêtements murale.</p>
        </div>
      </div>
      <!-- Service 5 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="/assets/isolant.png" alt="Documentation">
          </div>
          <h4>ISOLATION</h4>
          <p>Gagnez en confort, réduisez votre consommation d'énergie grâce aux conseils de notre entreprise d'isolation thermique et phonique.    Réduisez votre facture énergétique.</p>
        </div>
      </div>
      <!-- Service 6 -->
      <div class="col-md-4 mb-4">
        <div class="service-box">
          <div class="service-icon">
            <img src="/assets/maconnerie.png" alt="Soutien Professionnel">
          </div>
          <h4>MAÇONNERIE</h4>
          <p>Pose de cloisons internes de type BA13, carreaux de plâtre, de panneaux préfabriqués,  Notre équipe de maçon répondra à vos attentes et s’occupera de l’application d’enduits sur les murs, de l’ouverture de mur, ou encore de réalisations de chapes et de dalle.</p>
        </div>
      </div>
    </div>
  </div>
  
