/* Image de couverture floue */
.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px); /* Support pour les navigateurs Webkit */
  }
  
  /* Texte par-dessus l'image */
  .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0)!important; 
    text-align: center;
  }
  
  .cover-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .cover-text p {
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Section d'informations supplémentaire */
  .container p {
    font-size: 1.1rem;
    color: #000000;
  }



  .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh; /* L'image couvre toute la hauteur de la fenêtre */
    position: relative; /* Permet d'ajuster les autres éléments */
    z-index: 1; /* S'assure que le contenu soit visible au-dessus de l'image */
  }
  
  .u-section-1 .u-container-layout-1 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2; /* Le contenu est au-dessus de l'image de fond */
  }
  
  header {
    position: relative;
    z-index: 10; /* Le logo et la barre de navigation restent au-dessus de l'image */
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .u-text-1 {
    font-size: 24px;
    color: #007bff; /* Jaune foncé pour le texte "NOUS SOMMES DES CONSTRUCTEURS" */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  .u-text-2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .u-line-1 {
    width: 200px;
    height: 4px;
    background-color: #007bff; /* Jaune foncé */
    margin-bottom: 20px;
  }
  
  .u-text-3 {
    font-size: 16px;
    color: #fff;
    max-width: 800px;
    margin-bottom: 40px;
  }
  
  .u-btn-1 {
    background-color: #007bff; /* Bouton jaune foncé */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .u-btn-2 {
    border-color: #fff; /* Bouton blanc avec bordure */
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

  }
  
  .u-image-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px; /* Ajuster la taille de l'image */
    margin-right: 100px;
  }
  
